.card {
    padding: 20px;
    margin-top: 20px;
    border: $borderWidth solid $borderColor;
    background-image: resolve('realmadrid.png');
    background-repeat: no-repeat;
    background-position: center;
    width: width('realmadrid.png');
    height: height('realmadrid.png');

    h2 {
        color: red;
    }
}
